@import "theme";
#users {
  color: gray;
}
.adminCancel:hover{
  cursor: pointer;
}
#doctors {
  color: gray;
}
#hospitals{
  color: $bright-blue;
}
#settings {
  color: gray;
}

#dashboard {
  color: gray;
}