@import "theme";
.grid-container{
  h3{
    color: $dark-blue;
  }
}
body{
  height: 100vh;
}
#profile{
  color: gray;
}
#appointments{
  color: gray;
}
#settings{
  color: gray;
}
#createSchedules{
  color: #0568aa;
}
#check{
  position: relative;
  background-color: white;
}

#days{
  height : 9rem;
  option{
    margin: 0.5rem 0;
  }
}

#time{
  display: flex;
  justify-content: space-between;
}

form{
  margin: 3rem 2rem ;
  height:fit-content ;
  position: absolute;
  width: -webkit-fill-available;
  top: 0;
}



input[type="submit"]{
  background-color: #040427;
  font-family: 'nexa-bold';
  color: white;
  font-size: 1rem;
}

#add{
  position: fixed;
  left : 3rem;
  bottom: 3rem;
  color: white;
  background-color: #040427;
  font-family: 'nexa-light';
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 1.5rem 0.5rem;
  &:hover{
    cursor: pointer;
  }
}
.nosch{
  font-family: 'nexa-bold';
  padding: 3rem;
  text-align: center;
}
.schedule-container{
  padding: 2rem;
  background : lightgray;
  font-family: 'nexa-bold';
  margin-bottom: 0.5rem;
  
  button{
    font-family: 'nexa-bold';
    border-radius: 5px;
    background-color: #0568aa;
    font-size: 0.7rem;
    margin: 0;
  }
}
.schedule{
  display: grid;
  grid-template-columns: auto 30% auto ;
  column-gap: 0.5rem;
}
.off{
  color: red;
  border: 2px solid red;
}
.day{
  font-size: 1.2rem;
  background-color: white;
  padding : 0.5rem 1rem;
  text-align: center;
}
.slot-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  text-align: left;
}
.edit-container{
  display: flex;
  flex-direction: column;
}
.slots-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-top: 2rem;
  background-color: white;
  padding: 0.5rem;
  overflow-x: scroll;
}

.slot{
  display: flex;
  justify-content: space-between;
  font-family: 'nexa-bold';
  font-size: 0.8rem;
  color: darkgreen;
  border: 2px solid darkgreen;
  padding: 0.5rem;
  position: relative;
  
  input{
    
    top: 0.75rem;
    right: 0.5rem;
    &:checked {
      color: red;
  border: 2px solid red;
    }
  }
}

.red{
  color: red;
  border: 2px solid red;
}
input[type="checkbox"]{
  margin : 0;
}

#button-flex{
  display: flex;
  justify-content: space-between;
  button{
    margin: auto 0.2rem;
  }
}
@media only screen and (min-width: 768px)
{
  .slots-container{        
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0.5rem;
  }
}
@media only screen and (min-width: 1024px){
  
  form{
      margin: 4rem 15rem;
  }
  
  #add{
      left: 7rem;
      text-align: center;
  }

  .day{
      font-size: 1.5rem;
  }

  .schedule{
      grid-template-columns: auto 50% auto ;
  }

  .slots-container{
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 1rem;
      display: flex;
      align-content: center;
      
  }
  .schedule-container{
    position: relative;
    
    .disable{
      position: absolute;
      right: 0.5rem;
      top: 2.8rem;
    }
  }
  .slot{
    
    position: relative;
    input{
      position: absolute;
    }
  }
  }

