@import "toaster";
@import "theme";
.display-flex{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #abcadd;
}

header{
    background-color: white;
}

.contact-form{
    width: 85%;
    max-width: 45rem;
    margin: auto;
    background-color: white;
    text-align: left;
    form{
        padding:1rem;
    }
    h3{
        padding: 2rem 0;
        margin:0;
        color: #0568aa;
        text-align: center;
    }
    button{
        display: block;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        padding: 1rem;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
hr{
    color: #e6e4e4;
    margin:0;
}

.input-box{
    outline: 1px solid #e7e4e4;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    input, select{
        font-family: 'nexa-bold';
        color: #c4c2c2;
        padding: 0.5rem;
        font-size: 0.7rem;
        letter-spacing: 0.06rem;
        width: 100%;
        border: none;
    }
}
.textarea{
    textarea{
        height: auto;
    }
}
.file{
    width: fit-content;
    margin: 1rem 0;
}

#place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
}

::placeholder{
    color: #c4c2c2;
}

option{
    font-size: 0.7rem;
    letter-spacing: 0.06rem;
}

.mobile{
    display: grid;
    grid-template-columns: 9fr 1fr;
    i{
        font-size: 1.5rem;
        margin: auto;
        color: #aaa4a4;
    }
}
.btn i{
    color:white;
    float:right;
}
.signup-option{
    font-family: 'nexa-bold';
    color: gray;
    padding-bottom: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    a{
        color: #0568aa;
        text-decoration: underline;
    }
}
.copyright{
    font-family: 'nexa-bold';
    font-size: 0.7rem;
    color: #696666;
    text-align: center;
    margin: 0 0 1rem 0;
    
}

textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 10rem;
    border: none;
    outline: none;
    outline: 1px solid #e7e4e4;
    margin-bottom: 1.5rem;
    
}
.isdoctor{
    text-align: center;
    margin: 1rem 0;
    input{
        font-family: 'nexa-bold';
    }
    label{
        font-family: 'nexa-bold';
    }
}


@media only screen and (min-width: 768px)
{
    .display-flex{
        height: 62rem;
    }
    .contact-form{
        margin: auto;
        width:60%;
        h3{
            padding: 2.5rem 0;
        }
        form{
            padding: 1.5rem;
        }
        button{
            padding: 1rem 2rem;
        }
    }
    .input-box{
        margin-bottom: 0.7rem;
        input, select{
            padding: 0.8rem;
        }
    }
}
@media only screen and (min-width: 1024px){
    .display-flex{
        height: 50rem;
        
    }
    .copyright{
        text-align: center;
        margin: 2rem 0 0 0;
    }
}