@import "theme";
.user-details{
  display: flex;
    
    align-items: center;
  .status{
    .confirm{
      display: flex;
      align-items: center;
      i{
        color: #59f14b;
        font-size: 1.5rem;
        margin: 0;
        
      }
      h3{
        color: $dark-blue;
        margin:0 0 0 0.8rem;
        }
    }
    p{
      font-family: 'nexa-bold';
      font-size: 1rem;
    }
   .pDetails{
     display: flex;
     flex-direction: column;
     label{
       font-size: 1rem;
       font-family: 'nexa-light';
       color: $dark-blue;
     }
     span{
       margin:0.7rem 0 1rem 0;
       font-family: 'nexa-bold';

     }
   }
   .link{
     display: flex;
     button{
       width: fit-content;
       margin: 0 0.5rem 0 0;
       border-radius: 0.4rem;
       background-color: $bright-blue;
     }
   }
}
  }
  .confirmationBox {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.7);
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    .cancelConfirmationBox {
      text-align: center;
      background-color: white;
      display: block;
      padding-top: 1rem;
      width: 19rem;
      height: max-content;
      h3,
      h4 {
        border-bottom: 0.08rem solid $light-grey;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        color: $dark-blue;
      }  
      .buttons{
        display: flex;
        justify-content: flex-end;
        .yes{
          background-color: #59f14b;
        }
        .no{
          background-color: tomato;
        }
        button{
          margin: 1rem 1rem;
          width: fit-content;
        }
      }
  }
}
@media only screen and (min-width: 768px) {
  .confirmationBox {
    .cancelConfirmationBox {
      width: 28rem;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .confirmationBox {
    .cancelConfirmationBox {
      text-align: center;
      h3{
        margin-top: 0;
      }
      h4 {
        padding-left: 1rem;
      }
      width: 36rem;
    }
  }
}