<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Hospital</title>
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/hospital-profile.css">
</head>
<body>
   <%- include("headers")-%>
    <div class="hero-section">
        <h1>About Apollo Hospital</h1>
        <h3>Home / Hospital Profile</h3>
    </div>

    <div class="profile-container">
        <div class="profile-grid">
            <div class="profile">
                <div class="profile-image">
                    <img src="Apollo2.jpg" alt="">
                </div>
                <button>Call now</button>
            </div>
            <div class="profile-features">
                <div class="profile-bio">
                    <div class="profile-name">Apollo Hospital</div>
                    <div class="profile-details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="detail">Delhi Mathura Road, Sarita Vihar, Delhi 1100776</div>
                        <i class="fas fa-bed"></i>
                        <div class="detail">113 beds</div>
                    </div>
                    <p>
                        Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and
                        has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies,
                        Primary Care & Diagnostic Clinics and several retail health models. The Group also has
                        Telemedicine facilities across several countries. Health Insurance Services, Global Projects
                        Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital
                        Management and a Research Foundation. In addition, 'ASK Apollo' - an online consultation portal
                        and Apollo Home Health provide the care continuum.
                    </p>
                </div>
                <div class="profile-description">
                    <ul>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-award icon heading-icon"></i>
                                <h3>Specialization</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis doloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-stethoscope heading-icon"></i>
                                <h3>Famous Treatments</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-user-md heading-icon"></i>
                                <h3>Famous Doctors</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-hospital icon heading-icon"></i>
                                <h3>Infrastructures</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-map-marker-alt heading-icon"></i>
                                <h3>Complete Address</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-h-square heading-icon"></i>
                                <h3>Hospital Packages</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-rupee-sign heading-icon"></i>
                                <h3>Hospital Charges</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="description-heading">
                                <i class="fas fa-id-card heading-icon"></i>
                                <h3>Membership</h3>
                                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                            </div>
                            <div class="description hide">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque accusamus harum hic repellendus incidunt dignissimos
                                    accusantium reprehenderit vero veniam dolore ea deserunt mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class= "help">
        <div class="help-desktop">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <button onclick="location.href='/submit_your_query'">Submit your enquiry</button>
    </div>

    <%- include("footer")-%>
    <script src="accordian.js"></script>

</body>
</html>