<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="login.css">
  <title>Login</title>
</head>

<body>
  <%-include("header")-%>
  <%-include("toaster")-%>
  <div class="display-flex">
    <div class="contact-form">
      <h3>Create New Password</h3>
      <hr>
      <form action="/create_new_password" method="POST">
        <div class="input-box view-icon">
          <input type="password" name="password" id="password" placeholder="Enter Password">
          <i class="fas fa-eye-slash" id="password-hidden"></i>
          <i class="fas fa-eye" id="password-visible" style="display: none; color: #0173b2;"></i>
        </div>
        <div class="input-box mobile">
          <input type="password" name="cnf_password" id="cnfpassword" placeholder="Confirm Password">
        </div>
        <div class="btn-create">
          <button type="submit">Submit<i class="fas fa-arrow-right"></i></button>
        </div>
      </form>
    </div>
    <footer class="copyright">
      <div>
        All Rights Reserved &copy; tvastra 2018
      </div>
    </footer>
    <script src="toggle-password.js"></script>
</body>

</html>