<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="faq.css">
</head>
<body>
    <%- include("headers")-%>
    <div class="hero-section">
        <h1>FAQ</h1>
        <h3>Home/FAQ</h3>
    </div>

    <div class="profile-container">
        <div class="profile-description">
            <ul>
                <li>
                    <div class="description-heading">
                        <h3>How to I make Payments?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            You can make payment using any method given below:
                            <ul>
                                <li>Internet Banking</li>
                                <li>Debit/Credit Card</li>
                                <li>UPI</li>
                                <li>Digital Wallet</li>
                                <li>NEFT/IMPS</li>
                            </ul>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>There is not enough money in my Portea Wallet for making a payment. What do I do?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            You know that tingly feeling you get on the back of your neck sometimes? I just got that feeling when talking with her. You know I don't believe in sixth senses, but there is something not right with her. I don't know how I know, but I just do.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>Can I transfer balance in Portea Wallet balance to another user?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            You know that tingly feeling you get on the back of your neck sometimes? I just got that feeling when talking with her. You know I don't believe in sixth senses, but there is something not right with her. I don't know how I know, but I just do.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>Is Portea Money the same as Portea Wallet?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            Yes, Portea Money is same as Portea Wallet.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>Refund</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            If you are not satisfied with our services then you can ask for refund within 15 days.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>What is a Family ID?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            Family ID requires Aadhar Card, Ration Card, Voter Card, Pan Card, Passport, Anyone from given above.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>Who can be added as Family?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            All he could think about was how it would all end. There was still a bit of uncertainty in the equation, but the basics were there for anyone to see. No matter how much he tried to see the positive, it wasn't anywhere to be seen. The end was coming and it wasn't going to be pretty.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class= "help">
        <div class="help-desktop">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <button onclick="location.href='/submit_your_query'">Submit your enquiry</button>
    </div>

    <%- include("footer")-%>
    <script src="accordian.js"></script>
</body>
</html>