<header>
 <div class="menu_icon">
  <a href="#" class="hide-desktop">
    <i class="fas fa-bars hide-desktop" id="menu"></i>
  </a>
    <a href="/profile"
      ><img
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
        alt="tvastra logo"
    /></a>
    
  </div>
  <nav>
    <%if(user.role!=="admin"){%>
    <ul class="show-desktop hide-mobile navbar" id="nav">
      <li id="exit" class="exit-btn hide-desktop">
        <img src="exit.svg" alt="exit-menu" />
      </li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/hospitals">Hospitals</a></li>
      <li class="treatment-menu">
        <a onclick="sub()" style="padding: 0; margin: 0">
          <div class="subM">
            <p>Treatment</p>
            <i class="fa fa-angle-down"></i>
          </div>
        </a>

        <ol class="treatment-sub-menu hide-tab hide-mobile" id="submenu">
          <li><a href="/treatment">Infertility</a></li>
          <li><a href="/treatment">Dentistry</a></li>
          <li><a href="/treatment">Cancer</a></li>
          <li><a href="/treatment">Asthama</a></li>
        </ol>
      </li>
      <li><a href="/contactus">Contact Us</a></li>
      <li><a href="/aboutus">About</a></li>
      <li class="hide-desktop"><a href="/tvastra_plus">Tvastra Plus</a></li>
      <li class="hide-desktop"><a href="/emaillogin">Login/Sign Up</a></li>
      <li class="hide-desktop"><a href="/logout">Logout</a></li>
    </ul>
    <%}%>
  </nav>
  <div class="nav-buttons">
    <%if(user.role!=="admin"){%>
    <button
      class="login-btn blue hide-mobile show-desktop"
      onclick="location.href='/tvastra_plus'"
    >
      Tvastra Plus</button
    ><%}%> <%if(user){%>
    <div class="user-profile ">
      <div class="dropdown">
        <div class="user-name"><%=user.name.split(" ")[0]%></div>
        <div>
          <a href="#" class="dropdown-link">
            <i class="fa fa-angle-down"></i
          ></a>
        </div>
        <div class="dropdown-content">
          <div class="dp">
            <img src="/uploads/<%=user.Image%>" alt="" />
            <a href="/editprofile"><%=user.name%></a>
          </div>
          <div class="dp"><a href="/setting">Setting</a></div>
          <div class="dp"><a href="/logout">Logout</a></div>
        </div>
      </div>
    </div>
    <%}%>
  </div>
</header>
<script src="navigationbar.js"></script>
<script>
  function sub() {
    var menu = document.getElementById("submenu");
    if (menu.style.display == "none") {
      menu.style.display = "block";
    } else {
      menu.style.display = "none";
    }
  }
</script>
