<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="login.css">
  <title>Login</title>
</head>

<body>
  <%-include("header")-%>
  <%- include ('toaster')-%>
  <div class="display-flex">
    <div class="contact-form">
      <h3>Login With Mobile</h3>
      <hr>
      <form action="/otp_request" method="POST">
        <div class="input-box">
          <input type="tel" name="number" id="number" placeholder="Enter Mobile Number">
        </div>
        <a href="/emaillogin">Login with Email</a>
        <div class="btn">
          <button type="submit">Request OTP<i class="fas fa-arrow-right"></i></button>
        </div>
      </form>
      <div class="signup-option">Not registered? <a href="/signup">Sign Up</a></div>
    </div>
    <footer class="copyright">
      <div>
        All Rights Reserved &copy; tvastra 2018
      </div>
    </footer>
</body>

</html>