<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="treatment.css">
    <link rel="stylesheet" href="theme.css">
    <title>Treatment</title>
</head>
<body>
    <%- include("headers")-%>
    <div class="hero-section1">
        <h2>Dentistry</h2>
        <div class="sub">Home/Dentistry</div>
    </div>
    
    
    <div class="grid">
        <div class="vaccination">
            <h2>Vaccination</h2>
            <div class="vaccination-contents">
                <div class="vaccination-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="">
                </div>
                <div class="about-dentistry">
                    <h4>About Dentist Department</h4>
                    <p>The vaccination of dentists against various vaccine-preventable infections
                        is the most important measure of primary prevention against such diseases which would
                        otherwse prove fatal for both the dentists and their patients.
                    </p>
                    <ul>
                        <li>CF-related diabetes (monthly)</li>
                        <li>Gastrointestinal (monthly)</li>
                        <li>CF-related liver disease (monthly)</li>
                        <li>Sweat testing (three times per month)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="disorder-center">
            <ul>
                <li>
                    <i class="fas fa-stethoscope"></i>
                    <div class="center-name">Central Nervous System</div>
                    <div class="center-detail">Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</div>
                </li>
                <li>
                    <i class="fas fa-tablets"></i>
                    <div class="center-name">Allergic Disorders</div>
                    <div class="center-detail">Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</div>
                </li>
                <li>
                    <i class="fas fa-heartbeat"></i>
                    <div class="center-name">Neoplastic Disorders</div>
                    <div class="center-detail">Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</div>
                </li>
            </ul>
        </div>
        <div class="service-schedule-container">
            <div class="service-details">
                <div class="name">Service Details</div>
                <ul>
                    <li>
                        <div>Price</div>
                        <div>from $340</div>
                    </li>
                    
                    <li>
                        <div>Duration</div>
                        <div>10 Minutes</div>
                    </li>
                    
                    <li>
                        <div>Office</div>
                        <div>#46</div>
                    </li>
                    
                    <li>
                        <div>Doctor</div>
                        <div>Dr. Elizabeth Beard</div>
                    </li>
                    
                    <li>
                        <div>Categories</div>
                        <div>Family Medicine</div>
                    </li>
                    
                </ul>
            </div>
            <div class="schedule">
                <div class="name">Schedule</div>
                <ul>
                    <li>
                        <div>Tuesday</div>
                        <div>10:00am-1:00pm</div>
                    </li>
                    <li>
                        <div>Friday</div>
                        <div>07:00am-10:00pm</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="more-services">
            <div class="service-heading">
                <h2>More Services</h2>
                <div class="arrows">
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="more-service-contents">
                <div class="service">
                    <div class="service-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                    </div>
                    <div class="name">
                        Orthopedic Surgery
                    </div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="cancer">
                    </div>
                    <div class="name">
                        Cancer
                    </div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                    </div>
                    <div class="name">
                        Cardiology
                    </div>
                </div>
            </div>
        </div>
        <%- include("footer")-%>

</body>
</html>