<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Plus</title>
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/faq.css">
    <link rel="stylesheet" href="/plus.css">
</head>

<body>
    <%- include("headers")-%>

    <div class="hero-plus">
        <div class="hero-image">
            <div class="tag">
                PLUS
            </div>
            <div class="desc-bold bold-tab">
                Healthcare plans for you and your family.
            </div>
            <div class="desc-lite">
                Become a Tvastra Plus Member and save 60% off on your yearly health expenses.
            </div>

        </div>
        <div class="hero-gradient"></div>
        <div class="plans">
            <div class="desc-bold">
                Select a Tvastra Plus healthcare plan
            </div>
            <div class="desc-lite">
                All Plus plans are for 4 adults and 2 children.
            </div>
            <hr>
            <div class="plan-grid">
                <div class="plan-1">
                    <h3>Basic Plan</h3>
                    <hr>
                    <div class="desc-lite">
                        <ul>
                            <li>Unlimited Consultation with any speciality.</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% off on tests & checkups. </li>
                        </ul>
                    </div>
                    <div class="price">&#x20B9 2,999<span id="year">/year</span></div>
                    <a href="">View Plan Details</a>
                    <button class="tag">Buy Plan</button>
                </div>
                <div class="plan-2">
                    <div class="popular-tag">Popular</div>
                    <h3>Advanced Plan</h3>
                    <hr>
                    <div class="desc-lite">
                        <ul>
                            <li>Unlimited Consultation with any speciality.</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% off on tests & checkups. </li>
                            <li>10 Free In-Clinic consultations.</li>
                        </ul>
                    </div>
                    <div class="price">&#x20B9 3,999<span id="year">/year</span></div>
                    <a href="">View Plan Details</a>
                    <button class="tag">Buy Plan</button>
                </div>
                <div class="plan-3">
                    <h3>Comprehensive Plan</h3>
                    <hr>
                    <div class="desc-lite">
                        <ul>
                            <li>Unlimited Consultation with any speciality.</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% off on tests & checkups. </li>
                            <li>10 Free In-Clinic consultations.</li>
                            <li>2 Master health checkups</li>
                        </ul>
                    </div>
                    <div class="price">&#x20B9 5,999<span id="year">/year</span></div>
                    <a href="">View Plan Details</a>
                    <button class="tag">Buy Plan</button>
                </div>
            </div>
        </div>
    </div>
    <div class="user-stats">
        <div class="desc-bold">
            Trusted by 2 Crore+ users every month
        </div>
        <div class="desc-lite">
            Tvastra is the leading healthcare technolgy company in India. We began in 2009 and today
            we help 2 crore customers every month.
        </div>
        <div class="rating-grid">
            <div class="rating">
                <div class="rating-value">4.5</div>
                <div class="rating-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="number_of_reviews">1000+ Reviews</div>
            </div>
            <div class="rating-bars">
                <div class="rating-bar-grid">
                    <div class="rating-number">
                        5
                    </div>
                    <div class="rating-bar-grey">
                        <div class="rating-bar-5"></div>
                    </div>
                </div>
                <div class="rating-bar-grid">
                    <div class="rating-number">
                        4
                    </div>
                    <div class="rating-bar-grey">
                        <div class="rating-bar-4"></div>
                    </div>
                </div>
                <div class="rating-bar-grid">
                    <div class="rating-number">
                        3
                    </div>
                    <div class="rating-bar-grey">
                        <div class="rating-bar-3"></div>
                    </div>
                </div>
                <div class="rating-bar-grid">
                    <div class="rating-number">
                        2
                    </div>
                    <div class="rating-bar-grey">
                        <div class="rating-bar-2"></div>
                    </div>
                </div>
                <div class="rating-bar-grid">
                    <div class="rating-number">
                        1
                    </div>
                    <div class="rating-bar-grey">
                        <div class="rating-bar-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="milestone-grid">
            <div class="milestone">
                <i class="fas fa-users"></i>
                <div class="number">2 Crore+</div>
                <div class="milestone-tag">Monthly Customers</div>
            </div>
            <div class="milestone">
                <i class="fas fa-user-md"></i>
                <div class="number">100,000+</div>
                <div class="milestone-tag">Verified Doctors</div>
            </div>
            <div class="milestone">
                <i class="fas fa-pills"></i>
                <div class="number">10 Lakh+</div>
                <div class="milestone-tag">Medicine Orders Delivered</div>
            </div>
            <div class="milestone">
                <i class="fas fa-procedures"></i>
                <div class="number">5 Crore+</div>
                <div class="milestone-tag">Doctor Appointments</div>
            </div>
        </div>
    </div>
    <div class="benefits">
        <h5>Benefits of Plus Membership</h5>
        <hr>
        <div class="benefits-grid">
            <div class="benefit-1">
                <div class="desc-bold">
                    Zero fees for in-clinic consultation
                </div>
                <div class="desc-lite">
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Consult with 3000+ specialist doctors at top clinics & hospitals in the PLUS
                                network ar Rs. 0 consultation fees*
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Upto 10 in-clinic consultations can be used by any family member
                                over 12 month period.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="benefit-1_1">
                <h3>Top Hospitals Onboarded</h3>
                <div class="onboarded-hospitals">
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg"
                            alt="">
                    </div>
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
                            alt="">
                    </div>
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
                            alt="">
                    </div>
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg"
                            alt="">
                    </div>
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
                            alt="">
                    </div>
                    <div class="hospital">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
                            alt="">
                    </div>
                </div>
                <a href="">+More Hospitals</a>
            </div>
            <div class="benefit-2">
                <div class="desc-bold">
                    Unlimited online consultations with top doctors
                </div>
                <div class="desc-lite">
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Get all your health queries answered from any specialistonline, any time of the day.
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Connect under 2 minutes on text, call or video - available 24 hrs.
                                7 days of the week.
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                All online consultations are confidential. Only patient and doctor can access the chats.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="benefit-image img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg"
                    alt="">
            </div>
            <div class="benefit-3">
                <div class="desc-bold">
                    Flat 20% Off on prescription medicine, lab tests & checkups
                </div>
                <div class="desc-lite">
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Save money on your medicines and lab tests for your entire family.
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Get flat 20% off on medicines that require prescriptions & flat 20%
                                off on health checkups and lab tests.
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                No questons asked. No minimum order values, no limits, available in 100+ cities across
                                India.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="benefit-image img3">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg"
                    alt="order">
            </div>
            <div class="benefit-4">
                <div class="desc-bold">
                    2 Free health checkups
                </div>
                <div class="desc-lite">
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Discuss your test results with doctors through online consultations.
                                Receive E-Report within 48 hrs.
                            </div>

                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Home sample pickup
                            </div>

                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Tabs are NABL, CAP Accredited
                            </div>

                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <div>
                                Checkups can be booked anytime, even weekends, Tax deductible under 80D.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="benefit-image img4">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg"
                    alt="checkup">
            </div>
        </div>
    </div>
    <div class="note">
        60 Tests Included
    </div>
    <div class="tests">
        <div class="test">
            <div class="test-image">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"
                    alt="vitamin">
            </div>
            <div class="test-name">Vitamin Profile</div>
            <div class="test-count">2 Tests</div>
        </div>
        <div class="test">
            <div class="test-image">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"
                    alt="iron">
            </div>
            <div class="test-name">Iron Deficiency Profile</div>
            <div class="test-count">3 Tests</div>
        </div>
        <div class="test">
            <div class="test-image">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"
                    alt="thyroid">
            </div>
            <div class="test-name">Thyroid Profile</div>
            <div class="test-count">3 Tests</div>
        </div>
        <div class="test">
            <div class="test-image">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg"
                    alt="liver">
            </div>
            <div class="test-name">Liver Profile</div>
            <div class="test-count">11 Tests</div>
        </div>
    </div>
    <div class="slide">
        <div class="dot active-dot"></div>
        <div class="dot"></div>
    </div>
    <div class="feedback">
        <div class="desc-bold">
            Why we love Tvastra <span class="tag">PLUS</span>
        </div>
        <div class="testemonials">
            <div class="testimonial">
                <div class="quote">
                    "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                    as it provides free consultations with best doctors."
                </div>
                <div class="user">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="rishabh tiwari">
                    <div class="name">Rishabh Tiwari</div>
                    <div class="plan-tag">Advanced Plan User</div>
                </div>
            </div>
            <div class="testimonial">
                <div class="quote">
                    "Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test.
                    I came to know my deficiency in vitamin where family doctor featre helped me with medicine."
                </div>
                <div class="user">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="mini agarwal">
                    <div class="name">Mini Agarwal</div>
                    <div class="plan-tag">Comprehensive Plan User</div>
                </div>
            </div>
            <div class="testimonial">
                <div class="quote">
                    "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick.
                    Comes in super handy"
                </div>
                <div class="user">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="prachi gupta">
                    <div class="name">Prachi Gupta</div>
                    <div class="plan-tag">Comprehensive Plan User</div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="desc-bold">Frequently Asked Questions</div>
        <div class="profile-description">
            <ul>
                <li>
                    <div class="description-heading">
                        <h3>How does free in-clinic consultation with doctors and hospitals work?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            MaryLou wore the tiara with pride. There was something that made doing anything she didn't really want to do a bit easier when she wore it. She really didn't care what those staring through the window were thinking as she vacuumed her apartment.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>Are there any type of doctors not included in Tvastra Plus in-clinic consultation network?
                        </h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            MaryLou wore the tiara with pride. There was something that made doing anything she didn't really want to do a bit easier when she wore it. She really didn't care what those staring through the window were thinking as she vacuumed her apartment.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>How do the unlimited online consultation work?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            MaryLou wore the tiara with pride. There was something that made doing anything she didn't really want to do a bit easier when she wore it. She really didn't care what those staring through the window were thinking as she vacuumed her apartment.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>How does flat 20% off on medicines work?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            MaryLou wore the tiara with pride. There was something that made doing anything she didn't really want to do a bit easier when she wore it. She really didn't care what those staring through the window were thinking as she vacuumed her apartment.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description-heading">
                        <h3>How does 20% off on lab tests work?</h3>
                        <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                    </div>
                    <div class="description hide">
                        <p>
                            MaryLou wore the tiara with pride. There was something that made doing anything she didn't really want to do a bit easier when she wore it. She really didn't care what those staring through the window were thinking as she vacuumed her apartment.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <%- include("footer")-%>

    <script src="accordian.js"></script>
</body>

</html>