h1, h2, h3, h4 {
  font-family: 'Nexa-Bold';
}

h1 {
  font-size: 1.7rem;
  color: #2a2d3e;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  padding: 0 1.1rem;
  color: #2a2d3e;
  font-weight: 700;
  margin: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: white;
  margin: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin: 1rem;
}

label {
  font-family: 'nexa-light';
  font-size: 1rem;
}

p {
  font-family: 'nexa-light';
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 1rem 0;
  letter-spacing: 0.05rem;
  color: #2a2d3e;
}

li {
  font-family: 'nexa-light';
}

button {
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  width: 50%;
  background-color: #040427;
  margin-top: 1rem;
  border: none;
  letter-spacing: 0.05rem;
}

img {
  display: block;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    font-family: 'nexa-light';
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 2rem 0;
    letter-spacing: 0.06rem;
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (min-width: 1025px) {
  h1, h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  h2 {
    padding: 0;
  }
}

.fail-msg {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  background-color: #fdfdfd;
  position: absolute;
  top: 6rem;
  right: 2rem;
  column-gap: 0.5rem;
  animation: animation 3s ease-in;
  animation-fill-mode: forwards;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  border-left: 0.25rem solid red;
  width: 16rem;
}

.fail-msg .icon {
  margin-top: 0.5rem;
  font-family: 'nexa-bold';
  color: red;
}

.fail-msg .icon #close {
  color: #7a7777;
}

.fail-msg .msg h4 {
  color: red;
  font-size: 1.1rem;
  margin: 0;
  font-family: 'nexa-bold';
  text-align: center;
}

.fail-msg .msg span {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

.res-msg {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  background-color: #fdfdfd;
  position: absolute;
  top: 6rem;
  right: 2rem;
  column-gap: 0.5rem;
  animation: animation 3s ease-in;
  animation-fill-mode: forwards;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  border-left: 0.25rem solid green;
  width: 16rem;
}

.res-msg .icons {
  margin-top: 0.5rem;
  font-family: 'nexa-bold';
  color: green;
}

.res-msg .icons #close {
  color: #7a7777;
}

.res-msg .msgs {
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.res-msg .msgs h4 {
  color: green;
  font-size: 1.1rem;
  margin: 0;
  font-family: 'nexa-bold';
  text-align: center;
}

.res-msg .msgs span {
  color: green;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

@keyframes animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.display-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5aa9eb;
}

body {
  height: 100vh;
}

.contact-form {
  width: 85%;
  max-width: 45rem;
  margin: auto;
  background-color: white;
  text-align: center;
}

.contact-form a {
  color: #0173b2;
  font-family: 'nexa-bold';
  margin-top: 4rem;
}

.contact-form form {
  padding: 1rem;
}

.contact-form h3 {
  padding: 1.5rem 0;
  color: #0173b2;
  margin: 0;
}

.contact-form button {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-top: 1rem;
}

.contact-form button i {
  color: white;
  float: right;
}

.resend {
  display: flex;
  justify-content: center;
}

.resend button {
  background-color: transparent;
  color: #0173b2;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'nexa-bold';
  font-size: 0.7rem;
  line-height: 0em;
  border: none;
}

.login-way {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.login-way .otp-login a {
  font-family: 'nexa-light';
  color: #1994fd;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}

.login-way .forgot-pass {
  font-family: 'nexa-light';
  color: #1994fd;
  font-size: 0.8rem;
  letter-spacing: 0;
  font-weight: 600;
  background-color: transparent;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  border: none;
}

.input-box {
  outline: 1px solid #e7e4e4;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.input-box input, .input-box select {
  padding: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
  width: 100%;
  border: none;
  text-decoration: none;
}

.view-icon {
  position: relative;
}

.view-icon i {
  font-size: 1rem;
  margin: auto;
  color: #9cbfda;
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.6rem;
}

.signup-option {
  font-family: 'nexa-bold';
  color: gray;
  padding-bottom: 1rem;
  letter-spacing: -0.5px;
  font-size: 0.8rem;
}

.signup-option a {
  color: #0568aa;
  text-decoration: underline;
}

.copyright {
  font-family: 'nexa-bold';
  font-size: 0.8rem;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 768px) {
  .contact-form {
    margin: auto;
  }
  .contact-form form {
    padding: 2.5rem;
  }
  .contact-form button {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
  }
  .input-box {
    margin-bottom: 0.8rem;
  }
  .input-box input, .input-box select {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
  .mobile i {
    font-size: 1.5rem;
  }
  .btn i {
    color: white;
    float: right;
  }
  .signup-option {
    padding-bottom: 2.5rem;
    letter-spacing: -0.5px;
    font-size: 1rem;
  }
  .login-way .otp-login a {
    font-size: 1rem;
    font-family: "nexa-bold";
  }
  .login-way .forgot-pass {
    font-size: 1rem;
    font-family: "nexa-bold";
  }
  .copyright {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 4rem;
    display: grid;
    grid-template-columns: 20% 54% 27%;
    padding: 0.5rem 0;
    margin-top: 0;
    width: 100%;
  }
  header a {
    margin: auto 0 auto 0.7rem;
  }
  header a img {
    height: 2.5em;
    margin-left: 3.4rem;
  }
  header .nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 5rem;
    column-gap: 0.5rem;
  }
  .contact-form {
    width: 40%;
    padding: 0rem;
    box-shadow: 2px 2px 2px 2px darkgray;
  }
  .contact-form button {
    font-size: 1rem;
  }
  .login-way .otp-login a {
    font-size: 1rem;
    font-family: "nexa-bold";
  }
  .login-way .forgot-pass {
    font-size: 1rem;
    font-family: "nexa-bold";
  }
}
