h1, h2, h3, h4 {
  font-family: 'Nexa-Bold';
}

h1 {
  font-size: 1.7rem;
  color: #2a2d3e;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  padding: 0 1.1rem;
  color: #2a2d3e;
  font-weight: 700;
  margin: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: white;
  margin: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin: 1rem;
}

label {
  font-family: 'nexa-light';
  font-size: 1rem;
}

p {
  font-family: 'nexa-light';
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 1rem 0;
  letter-spacing: 0.05rem;
  color: #2a2d3e;
}

li {
  font-family: 'nexa-light';
}

button {
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  width: 50%;
  background-color: #040427;
  margin-top: 1rem;
  border: none;
  letter-spacing: 0.05rem;
}

img {
  display: block;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    font-family: 'nexa-light';
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 2rem 0;
    letter-spacing: 0.06rem;
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (min-width: 1025px) {
  h1, h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  h2 {
    padding: 0;
  }
}

h3 {
  margin: 1rem;
  color: #2a2d3e;
}

#profile {
  color: gray;
}

#appointments {
  color: gray;
}

#settings {
  color: gray;
}

#medical-history {
  color: #0173b2;
}

.day:hover, .title:hover {
  cursor: pointer;
}

#check .completed {
  overflow-y: hidden !important;
}

#check .completed .flex-containers {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#check .completed .flex-containers .pic-container {
  width: 13rem;
  height: 15rem;
  margin: 0.5rem 0.5rem 2.5rem 0.5rem;
}

#check .completed .flex-containers .pic-container .action {
  background-color: #999;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

#check .completed .flex-containers .pic-container .action .title {
  color: #0173b2;
  font-family: 'nexa-bold';
  font-size: 1rem;
}

#check .completed .flex-containers .pic-container .action .menu i {
  background-color: white;
  border-radius: 70%;
  padding: 0.2rem 0.4rem;
}

#check .completed .flex-containers .pic-container .action .menu i:hover {
  cursor: pointer;
}

#check .completed .flex-containers .pic-container .action .menu span {
  color: #0173b2;
  font-family: 'nexa-bold';
  background-color: #ebe8e8;
  padding: 0.2rem;
  border-radius: 3rem;
}

#check .completed .flex-containers .pic-container .action .menu span:hover {
  cursor: pointer;
}

#check .completed .flex-containers .pic-container img {
  width: 100%;
  height: 100%;
}

.record {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.record button {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  background-color: #0173b2;
  border-radius: 0.4rem;
}

#button-flex {
  justify-content: flex-end;
}

.slot-details div {
  margin: 0.1rem;
  color: #2a2d3e;
  font-size: 1rem;
}

.slot-details .title {
  color: #0173b2;
}

#check form {
  margin: 0;
  padding: 0;
}

.photo {
  display: flex;
  margin: 0.5rem 1rem;
  background-color: #999;
  justify-content: flex-start;
}

.photo img {
  width: 7rem;
  height: 4.5rem;
  margin: 0.7rem 0 0.7rem 0.7rem;
}

.photo input[type="file"] {
  width: fit-content;
  border: none;
  text-decoration: none;
}

.photo label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #525659;
  margin: 0.7rem;
}

.photo label i {
  margin-bottom: 0.4rem;
  color: white;
}

.photo label span {
  color: white;
}

.photo label:hover {
  cursor: pointer;
}

.record-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 0.8rem;
}

.record-form .input-box {
  margin: 0.8rem 1.7rem auto 1.7rem;
  width: auto;
  height: fit-content;
  padding: 0;
}

.record-form .input-box input {
  width: 100%;
  margin: 0;
}

.types h2 {
  color: #0173b2;
  margin: 0.6rem auto auto 1.7rem;
  font-size: 1.2rem;
  text-align: left;
}

.types input[type="radio"] {
  display: none;
}

.types .report-types ul {
  display: flex;
  margin: 0.6rem 2rem;
  justify-content: space-evenly;
}

.types .report-types ul li input[type="radio"]:checked + label {
  color: #50b179;
}

.types .report-types ul li label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.types .report-types ul li label i {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}
